itexmac2/trunk/Tiny XSLT Applicator/DTDs/MAIN.DTD

<?xml version="1.0" encoding="UTF-8"?>
<!ENTITY % StrippedhTML3.2 SYSTEM "Stripped%20HTML%203.2.dtd"> 
%StrippedhTML3.2; 
<!--+-+-+-+-+-+-+-+-+-+- core elements -+-+-+-+-+-+-+-+-+-+-->
<!ENTITY % text.content "(#PCDATA | tt|i|b |u|strike|big|small|sub|sup | em|strong|dfn|code|samp|kbd|var|cite | a|img|applet|font|basefont|br|script|map | input|select|textarea)*" >
<!ELEMENT TITLE %text.content;>
<!ELEMENT SUMMARY %text.content;>
<!ELEMENT NAMEDLINK %text.content;>
<!ATTLIST NAMEDLINK HREF CDATA #REQUIRED>
<!ELEMENT TASK %text.content;>
<!ATTLIST TASK HREF CDATA #IMPLIED>
<!--+-+-+-+-+-+-+-+-+-+- include -+-+-+-+-+-+-+-+-+-+-->
<!ELEMENT INCLUDE EMPTY>
<!ATTLIST INCLUDE HREF CDATA #IMPLIED>
<!--+-+-+-+-+-+-+-+-+-+- main page -+-+-+-+-+-+-+-+-+-+-->
<!ELEMENT MAIN (TITLE,TOPIC_LIST,NEWBIE_LIST,QUESTION_LIST,WHATSNEW_LIST,WEB_LIST)>
<!ATTLIST MAIN
        COPYRIGHT CDATA "Copyright 2006 Laurens'Tribune for iTeXMac2."
        KEYWORDS CDATA #IMPLIED
        DESCRIPTION CDATA #IMPLIED
        AppleTitle CDATA #REQUIRED
        AppleIcon CDATA #REQUIRED
        ANCHOR CDATA "iTM2001"
        TITLE CDATA #IMPLIED>
<!ELEMENT TOPIC_LIST (TITLE,(INCLUDE)+)>
<!ELEMENT NEWBIE_LIST (TITLE,(TOPIC)+)>
<!ELEMENT QUESTION_LIST (TITLE, (NAMEDLINK)+)>
<!ELEMENT WHATSNEW_LIST (TITLE, (NAMEDLINK)+)>
<!ELEMENT WEB_LIST (TITLE,(TOPIC)+)>
<!--+-+-+-+-+-+-+-+-+-+- core WHATSNEW -+-+-+-+-+-+-+-+-+-+-->
<!ELEMENT WHATSNEW (TITLE,SUMMARY,TOPIC_LIST)>
<!ATTLIST WHATSNEW
        KEYWORDS CDATA #IMPLIED
        DESCRIPTION CDATA #IMPLIED
        TITLE CDATA #IMPLIED>
<!--+-+-+-+-+-+-+-+-+-+- core TABLE_OF_TOPICS -+-+-+-+-+-+-+-+-+-+-->
<!ELEMENT TOPIC_SET (TITLE,(TOPIC)+)>
<!ATTLIST TOPIC_SET
        KEYWORDS CDATA #IMPLIED
        DESCRIPTION CDATA #IMPLIED
        TITLE CDATA #IMPLIED>
<!--+-+-+-+-+-+-+-+-+-+- core SUBTOC -+-+-+-+-+-+-+-+-+-+-->
<!ELEMENT SUBTOC (TITLE,SUMMARY,NAMEDLINK_LIST,SUBTOPIC_LIST)>
<!ATTLIST SUBTOC
        KEYWORDS CDATA #IMPLIED
        DESCRIPTION CDATA #IMPLIED
        TITLE CDATA #IMPLIED>
<!ELEMENT NAMEDLINK_LIST (NAMEDLINK)+>
<!ELEMENT SUBTOPIC_LIST (NAMEDLINK)+>
<!--+-+-+-+-+-+-+-+-+-+- core TOPIC -+-+-+-+-+-+-+-+-+-+-->
<!ELEMENT TOPIC (TITLE,SHORT,SUMMARY,INTRODUCTION?,DESCRIPTION,CONCLUSION?,NAMEDLINK?,MORE?)>
<!ATTLIST TOPIC HREF CDATA #IMPLIED
                IMG CDATA #IMPLIED
                SELECTED (SELECTED) #IMPLIED
                KEYWORDS CDATA #IMPLIED
                DESCRIPTION CDATA #IMPLIED
                TITLE CDATA #IMPLIED
                COPYRIGHT CDATA #IMPLIED
                VERSION CDATA #IMPLIED
                DOMAIN CDATA #REQUIRED
                CATEGORY CDATA #REQUIRED>
<!ELEMENT SHORT %text.content;>
<!ELEMENT INTRODUCTION %text.content;>
<!ELEMENT DESCRIPTION (TITLE?,(TASK)+)>
<!ATTLIST DESCRIPTION ORDERED CDATA "ORDERED">
<!ELEMENT CONCLUSION %text.content;>
<!ELEMENT MORE %text.content;>
<!ATTLIST MORE SEARCH CDATA #IMPLIED
                BOOKID CDATA #IMPLIED>
<!--+-+-+-+-+-+-+-+-+-+- core KEYCUTS -+-+-+-+-+-+-+-+-+-+-->
<!ELEMENT KEYCUTS (TITLE,SUMMARY,HOWTO,(KEYCUT_LIST)*)>
<!ATTLIST KEYCUTS
        KEYWORDS CDATA #IMPLIED
        DESCRIPTION CDATA #IMPLIED
        TITLE CDATA #IMPLIED>
<!ELEMENT HOWTO %text.content;>
<!ELEMENT KEYCUT_LIST (TITLE,(KEYCUT)*)>
<!ELEMENT KEYCUT (TODO, PRESS)>
<!ELEMENT TODO %text.content;>
<!ELEMENT PRESS %text.content;>
<!--+-+-+-+-+-+-+-+-+-+- SECTION_CONTENTS -+-+-+-+-+-+-+-+-+-+-->
<!ELEMENT SECTION_TOC (TITLE,(INCLUDE)+)>
<!ATTLIST SECTION_TOC
    KEYWORDS CDATA #IMPLIED
    DESCRIPTION CDATA #IMPLIED
    TITLE CDATA #IMPLIED>
<!--+-+-+-+-+-+-+-+-+-+- core INDEX -+-+-+-+-+-+-+-+-+-+-->
<!ELEMENT INDEX (INDEX_ENTRY|INCLUDE)+>
<!ATTLIST INDEX TITLE CDATA #IMPLIED>
<!ELEMENT INDEX_ENTRY (SHORT,SEE)>
<!ELEMENT SEE %text.content;>
<!ATTLIST INDEX_ENTRY HREF CDATA #IMPLIED>
