itexmac2/branches/536+/iTM2Foundation/DTDs/Summary.DTD

<!ELEMENT SUMMARY (LIST,CUTS)>
<!ELEMENT LIST (ITEM)*><!-- KEY ordered list of ITEMs -->
<!ELEMENT ITEM EMPTY>
<!ELEMENT CUTS (CUT)*><!-- CUT ordered list of CUTs -->
<!ELEMENT CUT EMPTY>
<!ATTLIST ITEM KEY ID #REQUIRED>
<!ATTLIST CUT KEY IDREF #REQUIRED><!-- one of the KEYs of an EMPTY element -->
<!ATTLIST CUT CUT CDATA #REQUIRED><!-- The shortcut -->
<!ATTLIST LIST KEY CDATA #IMPLIED>