itexmac2/tags/preview-15/iTM2Foundation/DTDs/DRAFT/MENU.DTD

<!ELEMENT ITEM (TITLE|(DOMAIN?, CATEGORY?, KEY))><!-- primitive item -->
<!ELEMENT TITLE (#PCDATA)>
<!ELEMENT DOMAIN (#PCDATA)>
<!ELEMENT CATEGORY (#PCDATA)>
<!ELEMENT KEY (#PCDATA)>
<!ELEMENT SEPARATOR EMPTY>
<!ELEMENT MENU (((DOMAIN?, CATEGORY?, KEY)|TITLE), (MENU | ITEM), (SEPARATOR?, (MENU | ITEM))*)><!-- primitive menu -->
